<footer class="footer">

    <div class="footer-content">
        <div class="footer-brand">
            <a class="footer-brandmark" href="about">
                HUBZone Certified
            </a>
        </div>

        <nav class="footer-nav">
            <div class="footer-link-groups">

                <div class="footer-link-group">
                    <div class="footer-links">
                        <h4>Company</h4>

                        <ul>
                            <li><a href="about/">About</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-link-group">
                    <div class="footer-links">
                        <h4>Resources</h4>

                        <ul>
                            <li><a href="blog/">Blog</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-link-group">
                    <div class="footer-links">
                        <h4>Connect</h4>

                        <ul>
                            <li><a href="https://github.com/campfirehi">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</footer>