<main id="content" tabindex="-1">
    <div class="landing-page">

        <section class="landing-jumbotron">
            <div class="landing-jumbotron-content">
                <h1 class="hidden-md-up">We cultivate community wisdom into social change</h1>

                <h1 class="hidden-sm-down">We cultivate community wisdom <br> into social change</h1>

                <p class="hidden-md-up">
                    Campfire is a <em>Social Change</em> digital platform that <br />
                    empowers the community through colloaboration on problem-solving.
                </p>

                <p class="hidden-sm-down">
                    Campfire is a <em>Social Change</em> digital platform that <br />
                    empowers the community through colloaboration on problem-solving.
                </p>

                <a href="/hire-us/" role="button">
                    <span>Let's talk</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </section>

        <div class="landing-body">

            <section class="landing-content-row landing-content-row-margin">
                <div class="landing-content-primary-col">
                    <h2>Bringing People Who Care Together</h2>
                </div>

                <div class="landing-content-secondary-col">
                    <p>
                        "How Might We empower the community for social changes?" is the question that we want to answer
                        in Campfire.
                    </p>
                </div>
            </section>

            <section class="landing-info-row">
                <div class="landing-info-text-col">
                    <div class="landing-info-text">
                        <h3>When 1 + 1 > 2</h3>
                        <p>
                            Many people work together is great! Find people who care and explore each other's potentials

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="landing-info-img-col">
                    <div class="landing-info-img">
                        <img src="/assets/img/hands.png" alt="Illustration of people holding hands together">
                    </div>
                </div>
            </section>

            <section class="landing-info-row">
                <div class="landing-info-text-col">
                    <div class="landing-info-text">
                        <h3>Utilize our problem-solving framework</h3>
                        <p>
                            How do we get started? Worry not, we have Design Thinking that will guide you through the
                            process.

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="landing-info-img-col flex-lg-first">
                    <div class="landing-info-img">
                        <img src="/assets/img/tools.png" alt="Illustration of tools that we are providing">
                    </div>
                </div>
            </section>

            <section class="landing-info-row">
                <div class="landing-info-text-col">
                    <div class="landing-info-text">
                        <h3>Fail early, fail fast, and re-iterate</h3>
                        <p>
                            "What Would You Do if You Knew You Would Not Fail?"
                            Fail early, fail fast, and learn from the feedback for the next iteration.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="landing-info-img-col">
                    <div class="landing-info-img">
                        <img src="/assets/img/iterations.png" alt="Illustration of fail fast is okay">
                    </div>
                </div>
            </section>

            <section class="landing-info-row">
                <div class="landing-info-text-col">
                    <div class="landing-info-text">
                        <h3>Take back our own voices</h3>
                        <p>
                            Now you have 20 people working with you on this issue, you become an non-negligible voice
                            for the community.

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="landing-info-img-col flex-lg-first">
                    <div class="landing-info-img">
                        <img src="/assets/img/voice.png" alt="Illustration of a mic.">
                    </div>
                </div>
            </section>

            <section class="landing-content-row">
                <div class="landing-content-primary-col">
                    <h2>Together, We rock.</h2>
                </div>

                <div class="landing-content-secondary-col">
                    <p>
                        "Modern Problems Require Modern Solutions," I have no idea what I am talking about.
                        But I want to say that together we are da best.
                    </p>
                </div>

                <div class="landing-content-ctas-col">
                    <div class="landing-content-cta-wrapper">
                        <a href="/services/" role="button">Learn what we offer</a>
                    </div>

                    <div class="landing-content-cta-wrapper">
                        <a href="/work/" role="button">View our work</a>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <div class="page-subfooter">
        <div class="testimonial">
            <div class="testimonial-row">
                <div class="testimonial-col">
                    <blockquote>
                        <p class="testimonial-quote">
                            Be the change that you wish to see in the world.
                        </p>

                        <cite class="testimonial-cite">
                            <span class="testimonial-author">Mahatma Gandhi</span>
                            <span class="testimonial-position">Lawyer, Social Change Activist</span>
                            <span class="testimonial-org"><strong>Indian Independence Movement</strong></span>
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


</main>