<div class="login-form">
        <div class="alert" id="status"></div>
        <h2 class="text-center">Sign in</h2>		
        <div class="text-center social-btn">
            <button class="btn btn-danger btn-block" onclick="googleLogin()"><i class="fa fa-google"></i>Sign in with Google</button>
        </div>
        <div class="or-seperator"><i>or</i></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" id="email" placeholder="Email" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" id="password" placeholder="Password" required="required">
            </div>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block btn-login" onclick="login()">Login</button>
            <button type="submit" class="btn btn-info btn-block btn-register" onclick="register()">Register</button>
        </div>
        <!--
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right text-success">Forgot Password?</a>
        </div>  
        <div class="hint-text small">Don't have an account? <a href="#" class="text-success">Register Now!</a></div>-->
</div>