<div class="container-fluid">
    <br>
    <div class="row">
        <div style="float: left"><h3 style="display: inline-block; padding-left: 100px;"> The community have asked these questions about {{ id }}</h3></div>
        <div class="join_topic" style="float: right;"><button class="btn btn-success btn-xs"> Join Topic</button></div>
    </div>
    <br>
    <div class="row">
        <ul> 
            <li>
                <p> What is causing homelessness?</p>
            </li>
            <li>
                <p> What do people need living on the street?</p>
            </li>
            <li>
                <p> Are ther jobs?</p>
            </li>
            <li>
                <p> Where do homeless get their supplies?</p>
            </li>
            <li>
                <p> What do they want people to help them?</p>
            </li>
            <li>
                <p> Is getting a shelter their only need? </p>
            </li>
            <li>
                <p> Who are the stakeholders for them?</p>
            </li>
            <li>
                <p> Where are their families?</p>
            </li>
        </ul>
    </div>
    <div class="row">
        <br>
        <div>
            <!-- <textarea>  </textarea> -->
        </div>
    </div>


</div>