<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <div style="text-align: center">
        <img src="assets/img/people/mckuok.jpg" class="rounded-circle" width="100" height="100"> 
        <div>Man Chon Kuok</div>
        <div>Honolulu, Hawaii</div>
        <div style="display: inline">
            <i class="large material-icons icon-yellow">flare</i>
            <i class="large material-icons icon-green">mood</i>
            <i class="large material-icons icon-red">turned_in_not</i>
        </div>
    </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="large material-icons">event</i>Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="large material-icons">person</i>Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="large material-icons">explore</i>Status</a>
    </div>
</div>