.content-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
    // background-color: pink;
    position: relative;
}

.overlay {  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    opacity: 1;
    background: rgba(39, 42, 43, 0.8);
    transition: opacity 200ms ease-in-out;
    border-radius: 4px;
    min-width: 100vw;
    // margin: -15px 0 0 -15px;
    button { 
    margin:5px;
    } 
  }