<!-- <div class="container">
<div style="height: 500px; width: 100%; border-style: solid; border-color: blue">
    <canvas-whiteboard #canvasWhiteboard
                     [drawButtonClass]="'drawButtonClass'"
                     [drawButtonText]="'Draw'"
                     [clearButtonClass]="'clearButtonClass'"
                     [clearButtonText]="'Clear'"
                     [undoButtonText]="'Undo'"
                     [undoButtonEnabled]="true"
                     [redoButtonText]="'Redo'"
                     [redoButtonEnabled]="true"
                     [colorPickerEnabled]="true"
                     [saveDataButtonEnabled]="true"
                     [saveDataButtonText]="'Save'"
                     [lineWidth]="5"
                     [strokeColor]="'rgb(0,0,0)'"
                     [shouldDownloadDrawing]="true"
                     (onBatchUpdate)="sendBatchUpdate($event)"
                     (onClear)="onCanvasClear()"
                     (onUndo)="onCanvasUndo($event)"
                     (onRedo)="onCanvasRedo($event)">
    </canvas-whiteboard>
</div>
</div> -->
<div class="container" id="whiteboard-container">
    <div id="aww-wrapper" class="aww" style="height: 1000px; border-style: solid; border-color: red;"></div>
    <!--<script src="https://awwapp.com/static/widget/js/aww3.min.js"></script>
    <script type="text/javascript">
        var aww = new AwwBoard('#aww-wrapper', {
            apiKey: '17b81ad8-cd02-4061-8475-9666eceace71',
            multiPage: true,
            sendUserPointer: true,
            showUserPointers: true
        });
        $.ajax({
            'method': 'GET',
            'url': 'https://awwapp.com/static/widget/sample_toolbar.html'
          }).done(function(res, status) {
            $('#aww-wrapper').append(res);
            initToolbar();
          });
    </script>
    <script src="https://awwapp.com/static/widget/sample_toolbar.js"></script>-->
</div>