<div class="container">
    <div class="row">
        <div class="redirectable col-sm" (click)="redirect()">
            <h4>{{ topic.topic }}</h4>
            <p> {{ topic.stage }} </p>
            <p> {{ topic.member_count }} members</p>
        </div>
        <div class="col-sm">
            <div class="row">
                <img alt="pic1" src="{{topic.pic1}}" width="150px">
                <img alt="pic2" src="{{topic.pic2}}" width="150px">
            </div>
        </div>
    </div>
</div>