/* You can add global styles to this file, and also import other style files */
@charset 'utf-8';

@import 'custom';
@import 'bootstrap/bootstrap';

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
  }